# Prospecção de Dados (Data Mining) DI/FCUL - HA2

## Course Project (MC/DI/FCUL - 2024)

### GROUP: `02`

* João Martins, 62532 - Hours worked on the project: 16
* Rúben Torres, 62531 - Hours worked on the project: 16
* Nuno Pereira, 56933 - Hours worked on the project: 16

In [1]:
import pandas as pd
import numpy as np
import pickle

molecular_dataset = pickle.load(open("mol_bits.pkl", "rb"))
dataframe = pd.DataFrame(list(molecular_dataset.items()), columns=["Id", "Proteome"])
dataframe

                  Id                                           Proteome
0      CHEMBL2022243  [10, 38, 50, 80, 107, 113, 180, 217, 315, 322,...
1      CHEMBL2022244  [10, 38, 50, 80, 107, 113, 180, 217, 315, 322,...
2      CHEMBL2022245  [10, 38, 50, 80, 104, 107, 113, 180, 184, 217,...
3      CHEMBL2022246  [10, 38, 50, 80, 107, 113, 118, 123, 217, 315,...
4      CHEMBL2022247  [10, 22, 38, 50, 66, 80, 107, 113, 160, 180, 2...
...              ...                                                ...
73860  CHEMBL4218012  [32, 80, 103, 147, 158, 264, 371, 389, 425, 51...
73861  CHEMBL4217503  [38, 80, 103, 155, 371, 389, 425, 457, 491, 51...
73862  CHEMBL4205802  [38, 80, 103, 115, 147, 155, 206, 371, 389, 45...
73863  CHEMBL4204359  [32, 80, 103, 147, 158, 264, 371, 389, 425, 49...
73864  CHEMBL4209228  [32, 80, 103, 147, 158, 264, 371, 389, 410, 42...

[73865 rows x 2 columns]

In [2]:
activity = pd.read_csv(
    "activity_train.csv", header=None, names=["Molecules", "Proteins", "Rate"]
)
activity

       Molecules        Proteins  Rate
0         O14842   CHEMBL2022243     4
1         O14842   CHEMBL2022244     6
2         O14842   CHEMBL2022245     2
3         O14842   CHEMBL2022246     1
4         O14842   CHEMBL2022247     4
...          ...             ...   ...
135706    Q9Y5Y4   CHEMBL4214909     6
135707    Q9Y5Y4   CHEMBL4218012     2
135708    Q9Y5Y4   CHEMBL4217503     7
135709    Q9Y5Y4   CHEMBL4204359     8
135710    Q9Y5Y4   CHEMBL4209228     6

[135711 rows x 3 columns]

* The file activity_train.csv contains a list of interactions between molecules (identified by their ChEMBL IDs and proteins identified by their Uniprot IDs). The activity value is rated from 1 to 10, where 1 is INACTIVE and 10 is EXTREMELY POTENT.

* The file activity_test_blanked.csv has exactly the same structure as activity_train.csv, yet, the activiy values are all at Zero. The goal of the project is to predict the real values.

* Additionally it is provided the Fingerprints of molecules (mol_bits.pkl). Fingerprinting is a hashed structural representation of molecules, where each set bit represents a structural feature. Molecules that have a common bit set mean that they probably share a structural element. This file is a Zipped pickled file that contain a dictionary with keys corresponding the ChEMBL IDs and values corresponding to a list of the set bits of each molecule.